.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 50px;
  z-index: 1000;
  max-width: 100%;
  border-bottom: 1px solid #f0f0f0;
  backdrop-filter: blur(8px);

  .logo {
    display: flex;
    align-items: center;

    img {
      height: 26px;
      width: 26px;
      margin-right: 6px;
    }

    .back {
      cursor: pointer;

      &:hover {
        color: #3479f6;
      }
    }
  }

  .info {
    display: flex;
    align-items: center;

    .name {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.88);
    }
  }
}
