.note_wrapper {
  margin-top: 24px;

  .content_text {
    word-break: break-all;
  }

  .publish_info {
    display: flex;
    justify-content: space-between;
  }

  .createTime {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.45);
    margin-top: 12px;
    text-align: right;
  }
}
